.input-width {
    width: 90%;
}

.card-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.dialog-content {
  padding: 16px 0;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-bottom: 18px;
}