.login-container-style {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login-style{
  width: 380px;
  padding: 24px;
}

.input-width {
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 16px;
}
